<!DOCTYPE html>
<html>
 <head>
 	<meta charset="utf-8">
 	<title><%=title %></title>
 	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
 </head>
  <body>
    <h1>Welcome to <%= title %></h1>
   
   	<p> The website you can create games </p>
  </body>
</html>
